<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Edit Image</title>
</head>
<body>
  

  <div class="wrapper">
    <form action="/admin/updateimg/<%= editimg._id %>" method="POST" enctype="multipart/form-data">
      <h2>Edit Category Image</h2>

      <img src="<%= editimg.image %>" width="150" multiple/><br/><br/>

      <input type="file" name="image" accept="image/*" required />
      <br/><br/>
      <button type="submit">Update Image</button>
    </form>
  </div>
</body>
</html>
