<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (oneImage) { %>
        <img src="<%= oneImage %>" alt="Product Image" style="width: 80px; height: auto; border-radius: 8px;">
    <% } else { %>
        <p>No Image Found</p>
    <% } %>
    <form action="/admin/editimagesin/<%=id%>/<%=index %>" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required />
        <br/><br/>
        <button type="submit">Update Image</button>
    </form>

    
 
</body>
</html>